$blue: #14184b;
$red: #df3b1f;
$yellow: #f7b127;
$green: #4e9d66;

@font-face {
  font-family: "Eina";
  src: url("fonts/eina/Eina01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eina";
  src: url("fonts/eina/Eina01-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.link{
  color: #8bcbe0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Eina", sans-serif;
  clear: both;
}

section {
  h1 {
    margin-top: 0;
  }
  .section__title {
    font-weight: bold;
    font-size: 52px;
    color: white;
  }
}

.container {
  min-height: 55vh;
  position: relative;
  padding: 6rem 5rem;
}

a {
  color: inherit;
}

h2 {
  font-size: 2.1rem;
}

#navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: flex;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-top: 0.5rem;
  font-size: 1.05rem;
  max-width: calc(100% - 80px);
  a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.is-bold {
  font-weight: bold;
}

.disabled{
  display: none;
}

#hero {
  background-image: url(../assets/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 83% 50%;
  min-height: 100vh;
}

#about {
  background-color: $red;
  color: white;
  .about__content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    .inner {
      width: 50%;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      a,
      p {
        font-size: 24px;
      }
      img {
        width: 80%;
        float: right;
      }
    }
  }
  .previous__spotlight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 5rem;
    .previous__image {
      width: 33%;
      img {
        max-width: 100%;
        width: 90%;
        padding: 20px;
      }
    }
  }
}

#schedule {
  background-color: $yellow;
  color: white;
  min-height: 60vh;
  // p {
  //   font-weight: bold;
  //   font-size: 22px;
  // }
  .schedule__container {
    margin: 1rem;
    display: flex;
    .schedule__day {
      flex-grow: 1;
      font-size: 18px;
      .day {
        font-size: 22px;
        font-weight: bold;
      }
      table {
        width: 100%;
        tr {
          th {
            text-align: initial;
          }
          td {
            padding: 0.6rem 0;
          }
        }
      }
    }
  }
  img {
    max-height: 125px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#faq {
  background-image: url(../assets/space_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .faq__container {
    display: flex;
    color: #fff;
    .inner {
      width: 50%;
      margin: 1rem 2.5rem;
      .faq__single {
        margin-bottom: 1.7rem;
        .question {
          font-size: 24px;
        }
        .answer {
          line-height: 1.8;
          font-size: 18px;
        }
      }
      img {
        float: right;
        max-width: 80%;
      }
    }
  }
}

#sponsors {
  color: $blue;
  .section__title {
    color: $blue;
  }
  .sponsors__area {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 5rem;
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;  
      .col {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 2rem;
      }
    }
    .sponsor {
      max-width: 80%;
    }
  }
  .sponsors__callout {
    text-align: center;
    h2 {
      margin-bottom: 0.2rem;
      font-size: 44px;
    }
    p {
      margin: 0.3rem;
      font-size: 24px;
    }
  }
}

#footer {
  min-height: 140px;
  background: $red;
  text-align: center;
  padding: 20px;
  padding-bottom: 3rem;
  font-size: 22px;
  color: white;
  a {
    text-decoration: none;
  }
  p {
    margin: 0.5rem;
  }
  img {
    max-height: 100px;
    display: inline-block;
    margin-bottom: 1rem;
  }
  .btn-social {
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 55em) {
  .schedule__container {
    flex-direction: column;
    .schedule__day {
      margin-bottom: 1rem;
    }
  }
  .sponsors__area {
    // flex-direction: column;
    text-align: center;
    .row {
      display: block !important;
      .sponsor {
        margin-bottom: 1.5rem;
      }
    }
    
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    padding: 5rem 3rem;
  }
  #navbar {
    flex-wrap: wrap;
    justify-content: flex-start;
    a {
      padding: 0.5rem;
    }
  }
  .section__title {
    font-weight: bold;
    font-size: 2rem;
    color: white;
  }
  .faq__container,
  .about__content {
    flex-direction: column;
    .inner {
      width: 100% !important;
      margin: 0 !important;
    }
  }
  .previous__spotlight .previous__image {
    width: 100% !important;
  }
  .sponsors__area .row {
    display: block !important;
  }
  #hero {
    background-image: url(../assets/mobile-hero.png);
    background-position: center;
  }
}
