@font-face {
  font-family: "Eina";
  src: url("fonts/eina/Eina01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Eina";
  src: url("fonts/eina/Eina01-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

.link {
  color: #8bcbe0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Eina", sans-serif;
  clear: both;
}

section h1 {
  margin-top: 0;
}
section .section__title {
  font-weight: bold;
  font-size: 52px;
  color: white;
}

.container {
  min-height: 55vh;
  position: relative;
  padding: 6rem 5rem;
}

a {
  color: inherit;
}

h2 {
  font-size: 2.1rem;
}

#navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: flex;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-top: 0.5rem;
  font-size: 1.05rem;
  max-width: calc(100% - 80px);
}
#navbar a {
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

.is-bold {
  font-weight: bold;
}

.disabled {
  display: none;
}

#hero {
  background-image: url(../assets/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 83% 50%;
  min-height: 100vh;
}

#about {
  background-color: #df3b1f;
  color: white;
}
#about .about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
#about .about__content .inner {
  width: 50%;
}
#about .about__content .inner a {
  text-decoration: none;
}
#about .about__content .inner a:hover {
  text-decoration: underline;
}
#about .about__content .inner a,
#about .about__content .inner p {
  font-size: 22px;
}
#about .about__content .inner img {
  width: 80%;
  float: right;
}
#about .previous__spotlight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5rem;
}
#about .previous__spotlight .previous__image {
  width: 33%;
}
#about .previous__spotlight .previous__image img {
  max-width: 100%;
  width: 90%;
  padding: 20px;
}

#schedule {
  background-color: #f7b127;
  color: white;
  min-height: 60vh;
}
#schedule .schedule__container {
  margin: 1rem;
  display: flex;
}
#schedule .schedule__container .schedule__day {
  flex-grow: 1;
  font-size: 18px;
}
#schedule .schedule__container .schedule__day .day {
  font-size: 22px;
  font-weight: bold;
}
#schedule .schedule__container .schedule__day table {
  width: 100%;
}
#schedule .schedule__container .schedule__day table tr th {
  text-align: initial;
}
#schedule .schedule__container .schedule__day table tr td {
  padding: 0.6rem 0;
}
#schedule img {
  max-height: 125px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#speakers .speakers__container {
  display: flex;
  color: #14184b;
}
#speakers .section__title {
  color: #14184b;
}
#speakers .speakers__container .inner {
  width: 50%;
  margin: 1rem 2.5rem;
}
#speakers .speakers__container .inner .speaker__single{
  margin-bottom: 1.7rem;
  clear:left;
  
}
#speakers .speakers__container .inner .speaker__single .name {
  font-size: 26px;
}
#speakers .speakers__container .inner .speaker__single .introduction {
  line-height: 1.8;
  font-size: 18px;
}
#speakers .speakers__container .inner img {
  float: left;
  max-width: 80%;
}

#faq {
  background-image: url(../assets/space_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#faq .faq__container {
  display: flex;
  color: #fff;
}
#faq .faq__container .inner {
  width: 50%;
  margin: 1rem 2.5rem;
}
#faq .faq__container .inner .faq__single {
  margin-bottom: 1.7rem;
}
#faq .faq__container .inner .faq__single .question {
  font-size: 24px;
}
#faq .faq__container .inner .faq__single .answer {
  line-height: 1.8;
  font-size: 18px;
}
#faq .faq__container .inner img {
  float: right;
  max-width: 80%;
}

#sponsors {
  color: #14184b;
}
#sponsors .section__title {
  color: #14184b;
}
#sponsors .sponsors__area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 5rem;
}
#sponsors .sponsors__area .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#sponsors .sponsors__area .row .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
#sponsors .sponsors__area .sponsor {
  max-width: 80%;
}
#sponsors .sponsors__callout {
  text-align: center;
}
#sponsors .sponsors__callout h2 {
  margin-bottom: 0.2rem;
  font-size: 44px;
}
#sponsors .sponsors__callout p {
  margin: 0.3rem;
  font-size: 24px;
}

#footer {
  min-height: 140px;
  background: #df3b1f;
  text-align: center;
  padding: 20px;
  padding-bottom: 3rem;
  font-size: 22px;
  color: white;
}
#footer a {
  text-decoration: none;
}
#footer p {
  margin: 0.5rem;
}
#footer img {
  max-height: 100px;
  display: inline-block;
  margin-bottom: 1rem;
}
#footer .btn-social {
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 55em) {
  .schedule__container {
    flex-direction: column;
  }
  .schedule__container .schedule__day {
    margin-bottom: 1rem;
  }

  .sponsors__area {
    text-align: center;
  }
  .sponsors__area .row {
    display: block !important;
  }
  .sponsors__area .row .sponsor {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 5rem 3rem;
  }

  #navbar {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #navbar a {
    padding: 0.5rem;
  }

  .section__title {
    font-weight: bold;
    font-size: 2rem;
    color: white;
  }

  .speakers__container,
  .faq__container,
.about__content {
    flex-direction: column;
  }
  .speakers__container .inner,
  .faq__container .inner,
.about__content .inner {
    width: 100% !important;
    margin: 0 !important;
  }

  .previous__spotlight .previous__image {
    width: 100% !important;
  }

  .sponsors__area .row {
    display: block !important;
  }

  #hero {
    background-image: url(../assets/mobile-hero.png);
    background-position: center;
  }
}

/*# sourceMappingURL=main.css.map */
